# IntelliJ IDEA
# Exclude specific .idea files that are already tracked
.idea/
!.idea/.gitignore
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
# Exclude specific .iml files that are already tracked
*.iml
!poc-o11y.iml
*.iws
*.ipr
.idea_modules/
out/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Java
*.class
# Exclude all JARs except specific ones in docker/config
*.jar
!docker/config/orbeon/opentelemetry-javaagent.jar
*.war
*.ear
*.logs
*.log
target/
build/

# Gradle
.gradle/
build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# Docker
.env
